<div class="row">
  <div class="col-md-12">
    <h2>订单详细(<%= render_order_paid_state(@order) %>)</h2>
    <table class="table">
      <thead>
        <tr>
          <th width="88%">商品</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |pl| %>
        <tr>
          <td><%= pl.product_name %></td>
          <td><%= pl.product_price %></td>
          <td><%= pl.quantity %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total clearfix">
      <span class="pull-right">
        总计: <%= @order.total %>¥
      </span>
    </div>
    <hr>
    <h2>寄送</h2>
     <table class="table">
      <tbody>
        <tr>
          <td>订购人</td>

        </tr>
        <tr>
          <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
        </tr>
        <tr>
          <td>收件人</td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
