<div class="row">
  <div class="col-md-12">
    <h2>订单明细<br>
    <small>
      <%= link_to "订单链接",order_url(@order.token) %>
    </small>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th width="70%">商品</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |pl| %>
          <tr>
            <td><%= pl.product_name %></td>
            <td><%= pl.product_price %></td>
            <td><%= pl.quantity %></td>
            <td><%= pl.quantity*pl.product_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>寄送</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>订购人</td>
        </tr>
        <tr>
          <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
