<h2>edit product</h2>
<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <% if @product.image.present? %>
    <span>目前商品图片</span><br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>
  <%= f.input :image,as: :file,label:"change image" %>
  <%= f.submit "submit",data:{disable_with:"submitting..."} %>
<% end %>
